{% extends 'base.html.twig' %}

{% block title %}Modifier le rendez-vous{% endblock %}

{% block body %}
    <h1>Modifier le rendez-vous</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-2">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('appointment_index') }}" class="btn btn-link mt-3">Retour à la liste</a>
{% endblock %}
